{% extends "base.html" %}
{% block title %}Password Changed{% endblock %}
{% block content %}
<h1>Your password has been changed</h1>
<p>This is a confirmation that the password for your {{ app_name }} account was successfully changed.</p>

<hr class="divider">

<p><strong>If you did not make this change,</strong> please contact us immediately by replying to this email so we can secure your account.</p>

<div class="button-container">
  <a href="{{ dashboard_url }}" class="button">Go to Dashboard</a>
</div>

<p class="muted">If you made this change, no further action is needed.</p>
{% endblock %}
